@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&family=Nunito+Sans:ital,wght@1,400;1,600&family=Space+Mono:ital,wght@1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Marathi:ital@1&display=swap');
:root {
    /* --background: #92594e49; */
    --background-text: #11151c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tiro Devanagari Marathi', serif;
    background: url(../images/backgroundQR.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containerblackBlock{
    width: 80%;
    margin: auto;
    height: 90vh;
    background: var(--background);
    color: whitesmoke;
    text-align: center;
    padding: 10px;
    font-size: 4rem;
}

.blackBlocktitle {
    background: none;
    text-shadow: 10px 10px var(--background-text);
    letter-spacing: 10px;
}

.blackBlockelements {
    display: flex;
    justify-content: center;
    background: none;
    text-shadow: 4px 4px var(--background-text);
}

.elementsqr {
    margin-left: 15px;
    margin-right: 10px;
    background: none;
}

.elementstext__arrow{
    margin: none;
    font-size: 50px;
    text-shadow: 3px 3px var(--background-text);
}

.arrowQr{
    background: none;
    transform: rotate(-10deg);
    margin-right: 90px ;
}

.elementsqr:hover {
    filter: drop-shadow(1px 1px 25px #888);
    cursor: pointer;
}

.elementsqr a {
    background: none;
}

.left__bottom .fa-brands {
    background: none;
}

