@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&family=Nunito+Sans:ital,wght@1,400;1,600&family=Space+Mono:ital,wght@1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Marathi:ital@1&display=swap');
:root {
    --background-text: #11151c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tiro Devanagari Marathi', serif;
    background: url(../images/backgroundQr.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.containerMaster{
    max-width: 1400px;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.container{
    margin: auto;
    background: var(--background);
    color: whitesmoke;
    text-align: center;
    font-size: 5vw;
}

.container__title {
    background: none;
    text-shadow: 7px 7px var(--background-text);
    letter-spacing: 1vw;
}

.container__elements {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    background: none;
    text-shadow: 4px 4px var(--background-text);
}

.elements__text{
    background: none;
    margin-left: 20px;
    margin-top: 15px;
    font-size: 5vw;
    text-shadow: 3px 3px var(--background-text);
}

.elements__qr {
    justify-content: center;
    margin: 1vw 2vw;
    background: none;
}

.elements__textArrow{
    background: none;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 5vw;
    text-shadow: 3px 3px var(--background-text);
}

.arrow__qr{
    background: none;
    transform: rotate(-10deg);
    margin-right: 10vh;
    margin-bottom: 10vh;
}

.elements__qr:hover {
    filter: drop-shadow(1px 1px 25px #888);
    cursor: pointer;
}

.elements__qr a {
    background: none;
}

.elements__textMobile{
    display: none !important;
}

@media screen and (max-width: 700px){
    
    .container__title {
    display: flex;
    background: none;
    text-shadow: 7px 7px var(--background-text);
    letter-spacing: 1vw;
    }
    .container__elements{
        flex-direction: column;
        background: none;
    }
    .elements__qr {
        background: none;
        width: 100%;
        height: 100%;
        margin: auto;
    }

    .elements__text{
        background: none;
        margin: auto;
        font-size: 6.8vw;
        text-shadow: 3px 3px var(--background-text);
        width: 100%;
        height: 100%;
    }
    .elements__textMobile{
        background: none;
        display:block !important;
        margin: auto;
        font-size: 6.8vw;
        text-shadow: 3px 3px var(--background-text);
        width: 100%;
        height: 100%;
    }
    .elements__textArrow{
        display: none !important;
    }
    .arrow__qr{
        display: none !important;
    }
}